<%= render 'posts/modal' %>

<div class="container">
  <div class="row">
    <%= render 'home/index/side_menu' %>
    <%= render 'home/index/content' %>
  </div><!-- row -->
  <%= javascript_include_tag 'posts'%>
</div><!-- container -->